<h2>Products Page</h2>
<%# a text box where the user can enter the name of a product, a submit button that adds it to their cart %>

<%= form_tag("/") do %>
  <%= label_tag("List your product here:") %>
  <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
<% end %>

<h2>Cart</h2>
<%# display of what's in the cart. %>
<ul>
  <% if !!session[:cart] %>
    <% session[:cart].each do |item| %>
      <li><%= item %></li>
    <% end%>
  <% end %>
</ul>